<template>
  <div class="row">
    <div class="col q-mb-md text-center">Agregar Producto</div>
  </div>
</template>

<script>
import MockService from "../../services/MockServices";

const mockService = new MockService();

export default {
  name: "AddItemProvider",
  data() {
    return {};
  },
  methods: {},
  computed: {},
};
</script>
