<template>
  <div class="q-pa-none">
    <q-layout view="lHh Lpr lFf">
      <q-header elevated>
        <q-toolbar class="bg-purple text-white shadow-2">
          <q-avatar @click="goToIndex">
            <img src="~assets/logo.svg" />
          </q-avatar>

          <q-toolbar-title>K-leta</q-toolbar-title>

          <q-btn
            flat
            dense
            round
            icon="fas fa-shopping-cart"
            class="q-mr-md"
            @click="noImplemented"
          >
            <q-badge color="red" floating>4</q-badge>
          </q-btn>

          <q-btn
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="leftDrawerOpen = !leftDrawerOpen"
          />
          <!-- <q-badge transparent align="middle" color="orange">v{{ $q.version }}</q-badge> -->
        </q-toolbar>
      </q-header>

      <q-drawer v-model="leftDrawerOpen" show-if-above bordered content-class="bg-grey-1">
        <q-scroll-area
          style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd"
        >
          <q-list>
            <q-item-label header class="text-grey-8">Menú de navegación</q-item-label>
            <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />
            <!-- LOGIN/LOGOUT -->
            <AuthLink></AuthLink>
          </q-list>
        </q-scroll-area>

        <q-img class="absolute-top" src="~assets/background-avatar-2.jpg" style="height: 150px">
          <div v-show="isLoggedIn" class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm shadow-10">
              <q-img :src="user.avatar" />
            </q-avatar>
            <div class="text-weight-bold">{{user.name}}</div>
            <div class>{{user.userSN}}</div>
          </div>
        </q-img>

        <q-btn
          v-show="isLoggedIn"
          @click="noImplemented"
          fab
          color="primary"
          icon="fas fa-user-edit"
          class="absolute"
          style="top: 150px; right: 30px; transform: translateY(-50%);"
        />
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { LoadingBar } from "quasar";
import EssentialLink from "components/EssentialLink.vue";
import AuthLink from "components/AuthLink.vue";
import MockService from "../services/MockServices";

const mockService = new MockService();

const essentialLinks = [
  // {
  //   title: "K-leta",
  //   caption: "Inicio",
  //   icon: "home",
  //   link: "/",
  // },
  // {
  //   title: "Vitrina",
  //   caption: "Productos del mar",
  //   icon: "list",
  //   link: "/showcase",
  // },
  {
    title: "Mapa",
    caption: "Vendedores cercanos",
    icon: "map",
    link: "/map",
  },
  {
    title: "Mis Productos",
    caption: "Mantenedor de productos",
    icon: "fas fa-clipboard-list",
    link: "/me/products",
    requiresAuth: true,
  },
  // {
  //   title: "Perfil",
  //   caption: "Mi Perfil",
  //   icon: "fas fa-id-card-alt",
  //   link: "/profile",
  // },
];

LoadingBar.setDefaults({
  color: "primary",
  size: "5px",
  position: "top",
});

export default {
  name: "MainLayout",
  components: { EssentialLink, AuthLink },
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: essentialLinks,
      user: mockService.getUserMock(),
    };
  },
  methods: {
    noImplemented() {
      //alert("no implementado");
      this.$q.notify({
        message: 'No implementado',
        color: 'red',
        timeout: 1000,
      })
    },
    goToIndex() {
      let path = "/";
      if (this.$route.path !== path) this.$router.push(path)
    }
  },
};
</script>
<style>
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
</style>
