<template>
  <q-page class="docs-input row justify-center">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-none q-my-auto q-mx-auto">
      <q-card square class="shadow-24 q-mx-auto" style="width:300px;height:520px;">
        <q-card-section class="bg-deep-purple-7">
          <h4 class="text-h5 text-white q-my-md">Recuperar Contraseña</h4>
          <div class="absolute-bottom-right q-pr-md" style="transform: translateY(50%);">
            <q-btn fab icon="close" color="primary" @click="goToLogin" />
          </div>
        </q-card-section>
        <q-card-section>
          <q-form class="q-px-sm q-pt-xl q-pb-lg">
            <q-input square clearable v-model="email" type="email" label="Email">
              <template v-slot:prepend>
                <q-icon name="email" />
              </template>
            </q-input>            
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-lg">
          <q-btn
            unelevated
            size="lg"
            color="primary"
            class="full-width text-white"
            label="Recuperar Contraseña"
          />
        </q-card-actions>
        <q-card-section class="text-center q-pa-sm">
          <q-btn flat color="primary" label="Ya recordé, ir a autenticar" @click="goToLogin" />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "ForgetPassword",
  data() {
    return {
      email: ""     
    };
  },
  methods: {
    goToLogin() {
      this.$router.push("login");
    },
  },
};
</script>

<style scoped>
</style>