<template>
  <q-page class="docs-input row justify-center">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-none q-my-auto">
      <q-card square class="shadow-24 q-mx-auto" style="width:300px;height:520px;">
        <q-card-section class="bg-deep-purple-7">
          <h4 class="text-h5 text-white q-my-md">Autenticación</h4>
          <div class="absolute-bottom-right q-pr-md" style="transform: translateY(50%);">
            <q-btn fab icon="add" color="primary" @click="goToSignup" />
          </div>
        </q-card-section>
        <q-card-section>
          <div class="text-center q-pa-md q-gutter-md">
            <q-btn round color="indigo-7" @click="auth('facebook')">
              <q-icon name="fab fa-facebook-f" size="1.2rem" />
            </q-btn>
            <q-btn round color="red-8">
              <q-icon name="fab fa-google-plus-g" size="1.2rem" />
            </q-btn>
            <q-btn round color="light-blue-5">
              <q-icon name="fab fa-twitter" size="1.2rem" />
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section>
          <q-form class="q-px-sm q-pt-none" @submit.prevent="authenticate" @reset="onReset" novalidate>
            <q-input
              square
              clearable
              v-model="email"
              type="email"
              label="Email"
              :loading="actionPending"
              autocomplete="username"
              autofocus
              required
              lazy-rules
              :rules="[val => !!val || 'El campo Email is obligatorio', isValidEmail]"
            >
              <template v-slot:prepend>
                <q-icon name="email" />
              </template>
            </q-input>
            <q-input
              square
              clearable
              v-model="password"
              type="password"
              label="Contraseña"
              :loading="actionPending"
              autocomplete="current-password"
              required
              :rules="[ val => val && val.length > passwordMinLength || 'La contraseña no puede tener largo menor a ' + passwordMinLength]"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
            <q-card-actions class="q-px-lg q-mt-md">
              <q-btn
                type="submit"
                size="lg"
                color="primary"
                class="full-width text-white"
                label="Autenticar"
                :loading="actionPending"
              />
            </q-card-actions>
          </q-form>
        </q-card-section>

        <q-card-section class="text-center q-pa-sm">
          <q-btn
            flat
            color="primary"
            label="¿Olvidaste tu contraseña?"
            @click="goToForgetPassword"
          />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import EventBus from 'src/utils/event-bus'

const passwordMinLength = 8;

export default {
  name: "Login",
  data() {
    return {
      actionPending: false,
      passwordMinLength: passwordMinLength,
      email: "eve.holt@reqres.in",
      password: "cityslicka",
    };
  },
  methods: {
    async authenticate() {
      const vm = this;
      vm.actionPending = true;

      try {
        await vm.$store.dispatch("login", {
          username: vm.email,
          password: vm.password,
        });

        if (vm.redirectUrl) {
          vm.$router.push(vm.redirectUrl);
        }

        //this.closeAuthDialog({ triggerEvent: false });
        //vm.resetForm();
        
        EventBus.$emit("authStatusChanged", "success");
        this.$router.push("map");
      } catch (err) {
        //this.shake();

        if (err.statusCode === 403) {
          this.errorType = "loginIncorrect";
        }

        EventBus.$emit("authStatusChanged", "failure");

        throw err;
      } finally {
        this.actionPending = false;
      }
    },
    auth(network) {
      this.$hello(network)
        .login({ scope: "friends" })
        .then(() => {
          this.$router.push("profile");
        });
    },
    goToSignup() {
      this.$router.push("signup");
    },
    goToForgetPassword() {
      this.$router.push("forget-password");
    },
    onSubmit() {
      this.$q.notify({
        color: "green-4",
        textColor: "white",
        icon: "cloud_done",
        message: "Enviado",
      });
    },

    onReset() {
      this.name = null;
      this.age = null;
      this.accept = false;
    },

    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || "Dirección de email no válida";
    },

    resetForm () {
      this.email = null
      this.password = null
    },
  },
};
</script>

<style scoped>
</style>