<template>
  <div v-if="products.length > 0">
    <div class="row q-pa-none">
      <div class="col text-left">
        <q-item-label header class="q-pa-none">Productos</q-item-label>
      </div>
      <div class="col text-right">
        <q-item-label header class="q-pa-none">(Montos en $CLP)</q-item-label>
      </div>
    </div>
    <div>
      <q-list>
        <q-item
          @click="clickProduct(product)"
          clickable
          v-ripple
          class="q-pa-none q-mb-md"
          v-for="(product, index) in products"
          :key="index"
          v-bind="product"
        >
          <q-item-section top class="q-my-auto">
            <q-img :src="product.img" :ratio="16/9" style="width: 100%; max-height: 5em;" />
          </q-item-section>

          <q-item-section top class="q-mb-auto">
            <q-item-label lines="1">
              <span class="text-weight-medium">{{product.name}}</span>
            </q-item-label>
            <q-item-label caption class="ellipsis-3-lines">{{product.description}}</q-item-label>
          </q-item-section>

          <q-item-section top class="q-my-auto q-pr-xs max-width-price">
            <q-item-label
              class="q-mt-xs text-body2 text-weight-bold text-primary text-uppercase text-right"
            >
              <span class="cursor-pointer">{{product.value | currency}}</span>
            </q-item-label>
            <q-item-label
              caption
              lines="1"
              class="text-right"
            >{{product.unitValue}} {{product.unitType}}</q-item-label>
            <q-item-label caption lines="1" class="text-right">{{product.stock}} disponible</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductList",
  props: {
    products: {
      type: Array,
      default: () => [],
      required: true,
    },
  },
  components: {},
  data() {
    return {};
  },
  methods: {
    clickProduct(product) {
      this.$emit("on-click-product", product);
    },
  },
  mounted() {},
};
</script>
<style>
/* estilos */
.max-width-price {
  max-width: 7em;
}
</style>