<template>
  <div>
    <map-provider v-bind="mapProvider" />
  </div>
</template>

<script>
import MapProvider from "components/MapProvider.vue";
import ProviderFactory from "src/factories/provider";
import MockService from "../services/MockServices";

const mockService = new MockService();
const urlAvatar = "https://api.adorable.io/avatars/200/";

let mapProvider = {
  providerList: mockService.getProviders(),
  mapContainerStyle: null,
};

export default {
  name: "Map",
  components: {
    MapProvider,
  },
  data() {
    return {
      mapProvider: mapProvider,
    };
  },
  methods: {
    onResize(size) {
      this.mapProvider.mapContainerStyle = {
        "min-height": "calc(" + size.height + ")",
      };
    },
  },
  computed: {},
  created() {
    this.mapProvider.providerList.forEach((element) => {
      element.avatar = urlAvatar + element.name;
    });
  },
};
</script>
<style>
</style>