<template>
  <div class="q-pa-none">
    <div class="row q-py-md">
      <div class="col text-right">
        <q-btn
          color="primary"
          icon="fas fa-plus-square"
          label="Agregar Producto"
          :to="goToProviderAddProduct()"
        />
      </div>
    </div>  
    <q-card class="full-width">
      <q-card-section style="max-height: 70vh" class="scroll q-pa-xs">
        <product-list v-bind="products" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import ProductList from "components/provider/ProductList";
import MockService from "../services/MockServices";

const mockService = new MockService();

const data = {
  products: mockService.getMyProducts(),
};

export default {
  name: "MyProducts",
  components: {
    ProductList,
  },
  data() {
    return {
      products: data,
    };
  },
  methods: {
    goToProviderAddProduct() {
      return "/provider/product/add";
    },
  },
};
</script>
