<template>
  <div class>
    <q-resize-observer @resize="onResize" />
    <modal-provider v-bind="modalProvider" :bus="bus" />
    <q-tabs v-model="tab" inline-label class="bg-primary text-white shadow-2">
      <q-tab name="map" icon="fas fa-map-marked-alt" label="Mapa" />
      <q-tab name="providers" icon="fas fa-users" label="Vendedores" />      
      <q-tab name="products" icon="fas fa-fish" label="Productos" />
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="providers" class="tab-panel-provider">
        <q-infinite-scroll @load="onLoad" :offset="500">
          <div class="flex flex-center column">
            <div class="row">
              <div
                id="parent"
                class="fit row wrap justify-center items-start content-start"
                style="overflow: hidden;"
              >
                <div class="q-pa-xs col-12 col-sm-6 col-md-3" v-for="(item, index) in items" :key="index">
                  <q-card style="margin: auto;" class="my-card" flat bordered>
                    <q-item>
                      <q-item-section avatar>
                        <q-avatar square size="65px">
                          <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                        </q-avatar>
                      </q-item-section>

                      <q-item-section>
                        <q-item-label>{{item.name}}</q-item-label>
                        <q-item-label caption>Mejillones - II región</q-item-label>
                        <q-item-label>
                          <q-rating
                            v-model="ratingModel"
                            max="5"
                            size="2em"
                            color="orange"
                            icon="star_border"
                            icon-selected="star"
                            icon-half="star_half"
                            no-dimming
                            readonly
                          />
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <!-- <q-separator /> -->

                    <q-card-section horizontal>
                      <q-card-section class="ellipsis-3-lines q-py-none">{{ lorem }}</q-card-section>

                      <q-separator vertical />

                      <q-card-actions vertical class="justify-around">
                        <q-btn flat round color="red" icon="favorite" />
                        <q-fab
                          flat
                          round
                          color="primary"
                          icon="share"
                          padding="xs xs"
                          direction="left"
                        >
                          <q-fab-action
                            color="orange"
                            text-color="white"
                            @click="onClick"
                            icon="mail"
                          />
                          <q-fab-action
                            color="orange"
                            text-color="white"
                            @click="onClick"
                            icon="fab fa-whatsapp"
                          />
                          <q-fab-action
                            color="orange"
                            text-color="white"
                            @click="onClick"
                            icon="fab fa-facebook"
                          />
                          <q-fab-action
                            color="orange"
                            text-color="white"
                            @click="onClick"
                            icon="fab fa-twitter"
                          />
                        </q-fab>
                      </q-card-actions>
                    </q-card-section>
                    <!-- <q-separator /> -->

                    <q-card-actions>
                      <q-btn flat round icon="event" @click="show()" />
                      <q-btn flat>10:00 - 17:00</q-btn>
                      <q-btn flat color="primary" @click="showModal()">Ver más ...</q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
          </div>

          <template v-slot:loading>
            <div class="row justify-center q-my-md">
              <q-spinner-dots color="primary" size="80px" />
            </div>
          </template>
        </q-infinite-scroll>
      </q-tab-panel>

      <q-tab-panel name="map" class="tab-panel-provider q-pa-none">
        <MapProvider v-bind="providers"/>
      </q-tab-panel>

      <q-tab-panel name="products">
        <div class="text-h6">Movies</div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>



<script>
import Vue from "vue";
import { LMap, LTileLayer, LMarker, LPopup } from "vue2-leaflet";
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import EventBus from "src/utils/event-bus";
import ModalProvider from "components/ModalProvider.vue";
import MapProvider from "components/MapProvider.vue";
import MockService from "../services/MockServices";

const mockService = new MockService();

delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    ModalProvider,
    MapProvider,
  },
  data() {
    return {
      providers: mockService.getProviders(),
      modalProvider: mockService.getProviders(),
      items: [],
      lorem:
        "Jaivas - Locos - Mantarralla - Langostinos - Pejeperro - Jaivas - Locos - Mantarralla - Langostinos - Pejeperro - Jaivas - Locos - Mantarralla - Langostinos - Pejeperro",
      ratingModel: 3,
      fixed: false,
      zoom: 13,
      center: L.latLng(-33.447487, -70.673676),
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      bus: EventBus,
      tab: "map",
    };
  },
  mounted() {},
  methods: {
    onResize (size) {
      this.mapContainerStyle = {
        "min-height": size.height - 300 + "px"
      }     
    },    
    showModal() {
      EventBus.$emit("showModal");
    },
    onLoad(index, done) {
      this.$axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((response) => {
          let vm = this;
          if (vm.items) {
            response.data.forEach(function (data) {
              vm.items.push(data);
            });
          }
        })
        .catch((error) => console.log("Error", error.message))
        .finally(function () {
          done();
        });
    },
    onClick() {
      console.log("Clicked on a fab action");
    },
    show(grid) {
      this.$q
        .bottomSheet({
          dark: true,
          message: "Proveedor",
          grid,
          actions: [
            {
              label: "Gustavo Barraza N.",
              avatar: "https://cdn.quasar.dev/img/boy-avatar.png",
              id: "provider",
            },
            {
              label: "Inicio",
              icon: "home",
              id: "home",
            },
            {
              label: "Vitrina",
              icon: "list",
              id: "keep",
            },
            {
              label: "Google Hangouts",
              img: "https://cdn.quasar.dev/img/logo_hangouts_128px.png",
              id: "calendar",
            },
            {
              label: "Calendar",
              img: "https://cdn.quasar.dev/img/logo_calendar_128px.png",
              id: "calendar",
            },
            {},
            {
              label: "Share",
              icon: "share",
              id: "share",
            },
            {
              label: "Upload",
              icon: "cloud_upload",
              color: "primary",
              id: "upload",
            },
            {},
          ],
        })
        .onOk((action) => {
          console.log("Action chosen:", action.id);
        })
        .onCancel(() => {
          console.log("Dismissed");
        })
        .onDismiss(() => {
          console.log("I am triggered on both OK and Cancel");
        });
    },
  },
};
</script>

<style lang="sass" scoped>
.row > div

.row + .row
  margin-top: 0rem
.my-card
  width: 100%
  max-width: 500px
</style>

<style lang="css" scoped>
.tab-panel-provider {
  min-height: calc(100vh - 99px);
  max-height: calc(100vh - 99px);
}
</style>

