<template>
  <div>
    <q-list>
      <q-item-label header class="text-center q-py-none text-bold">{{product.name}}</q-item-label>
      <q-item class>
        <q-item-section>
          <q-img :src="product.img" :ratio="16/9" style="width: 100%; max-height: 30vh;" />
        </q-item-section>
      </q-item>
      <q-item class>
        <q-item-section class="text-center">{{product.value | currency}}</q-item-section>
      </q-item>
      <q-item class>
        <q-item-section class="text-justify text-caption">{{product.description}}</q-item-section>
      </q-item>
    </q-list>
    <div class="q-pa-md row flex-center">
      <q-btn
        :disable="number <= 0"
        v-touch-repeat:0:1000.mouse.enter.space="decrement"
        color="primary"
        push
        round
        class="q-mr-sm"
        icon="remove"
      />

      <span class="q-mx-md">{{ number }}</span>

      <q-btn
        v-touch-repeat:0:100.mouse.enter.space="increment"
        color="primary"
        push
        round
        class="q-mr-sm"
        icon="add"
      />
    </div>
    <q-item class>
      <q-item-section class="text-center text-caption">
        <q-btn
          :disable="number <= 0"
          color="green"
          class="full-width"
          label="Agregar a cotización"
          @click="addToCart"
        />
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
export default {
  name: "AddToCart",
  props: {
    product: {
      type: Object,
      default: () => {},
    },
  },
  components: {},
  data() {
    return {
      number: 0,
    };
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    decrement() {
      if(this.number > 0) {
        this.number--;
      }      
    },

    increment() {
      this.number++;
    },
    addToCart() {
      this.$emit("on-add-to-cart", this.number);
    },
  },
};
</script>

<style scoped>
</style>