<template>
  <div>
    <q-item v-show="!isLoggedIn" clickable tag="a" target="_self" to="/login">
      <q-item-section avatar>
        <q-icon name="fas fa-sign-in-alt" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Entrar</q-item-label>
        <q-item-label caption>Autenticación</q-item-label>
      </q-item-section>
    </q-item>
    <q-item v-show="isLoggedIn" clickable tag="a" target="_self" @click="logout">
      <q-item-section avatar>
        <q-icon name="logout" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Desconectar</q-item-label>
        <q-item-label caption>Cerrar sesión</q-item-label>
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "AuthLink",
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");

      if (this.$route.meta.requiresAuth) {
        this.$router.push({ path: "/" });
      }
    },
  },
};
</script>
