<template>
  <q-item
    v-if="isVisible"
    clickable
    tag="a"
    target="_self"
    :to="link"
    v-bind:style="{'display: none': isVisible}"
  >
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "EssentialLink",
  props: {
    title: {
      type: String,
      required: true,
    },

    caption: {
      type: String,
      default: "",
    },

    link: {
      type: String,
      default: "#",
    },

    icon: {
      type: String,
      default: "",
    },

    requiresAuth: {
      type: Boolean,
    },
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["isLoggedIn"]),
    isVisible() {
      return this.requiresAuth ? this.isLoggedIn : true;
    },
  },
  mounted() {
    //console.log(JSON.stringify(this));
  },
};
</script>
