<template>
  <q-btn v-bind="{color, disable, label}" @click="onClick">
    <q-icon :name="getIconName()" />
  </q-btn>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "GeolocationButton",
  props: {
    label: {
      type: String,
      default: null,
    },
    callback: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      pollingTimer: null,
    };
  },
  computed: {
    color() {
      if (!this.isPermissionKnown || this.isPermissionPrompt) {
        return "primary";
      } else if (this.isPermissionGranted) {
        return "positive";
      } else if (this.isPermissionDenied) {
        return "negative";
      }
      return null;
    },
    disable() {
      return this.isPermissionDenied;
    },
    ...mapGetters([
      "isPermissionKnown",
      "isPermissionGranted",
      "isPermissionPrompt",
      "isPermissionDenied",
      "hasPosition",
    ]),
  },
  created() {
    this.doQueryPermissionGeolocation();  
  },
  methods: {
    async doQueryPermissionGeolocation() {
      const vm = this;
      vm.actionPending = true;

      try {
        await vm.$store.dispatch("queryPermissionGeolocation");
      } catch (err) {
        // if (err.statusCode === 403) {
        //   this.errorType = "loginIncorrect";
        // }

        // EventBus.$emit("authStatusChanged", "failure");

        throw err;
      } finally {
        this.actionPending = false;
      }

      if (this.isPermissionDenied) {
        // poll permission as the user might allow them in a separate tab
        this.pollingTimer = setTimeout(() => this.doQueryPermission(), 2000);
      } else if (this.pollingTimer) {
        clearTimeout(this.pollingTimer);
      }

      if (this.callback) {
        this.callback(this.isPermissionDenied);
      }
    },
    getIconName() {
      switch (this.color) {
        case "primary":
          return "location_searching";
        case "negative":
          return "gps_off";
        case "positive":
          return "gps_fixed";
      }
    },
    doQueryPermission() {
      this.queryPermission().then(() => {
        if (this.isPermissionDenied) {
          // poll permission as the user might allow them in a separate tab
          this.pollingTimer = setTimeout(() => this.doQueryPermission(), 2000);
        } else if (this.pollingTimer) {
          clearTimeout(this.pollingTimer);
        }

        if (this.callback) {
          this.callback(this.isPermissionDenied);
        }
      });
    },
    async onClick() {
      const vm = this;
      try {
        await vm.$store.dispatch("findCurrentPosition");
      } catch (err) {
        console.log("error ->" + err);

        throw err;
      } finally {
        this.doQueryPermissionGeolocation();
      }
    },
  
  },
};
</script>