<template>
  <div>
    <modal-provider v-bind="modalProvider" :bus="bus" />
    <q-page padding class="flex q-pa-none" :style="mapContainerStyle">
      <q-resize-observer @resize="onResize" />
      <q-card style="flex:1">
        <l-map
          :zoom="zoom"
          :maxZoom="18"
          ref="map"
          :center="center"
          :options="{zoomControl: false}"
        >
          <v-geosearch :options="geosearchOptions"></v-geosearch>
          <l-control-scale position="bottomright" :imperial="true" :metric="true"></l-control-scale>
          <l-control-zoom position="bottomright"></l-control-zoom>
          <v-marker-cluster>
            <l-marker
              :icon="getIconCustomPOI(provider.avatar)"
              v-for="(provider, index) in providerList"
              :key="index"
              v-bind="provider"
              :lat-lng="{ lat: provider.location.lat, lng: provider.location.lng }"
              @click="showModal(provider)"
            ></l-marker>
          </v-marker-cluster>
          <!-- <l-marker v-if="hasPosition" :lat-lng="center" :draggable="false">
            <l-icon :iconSize="[50, 50]" :popupAnchor="[0, -24]">
              <img src="~assets/location-target.svg" />
            </l-icon>
            <l-popup
              content="Tú"
              :options="{ autoClose: true, closeOnClick: true, autoOpen: true, maxWidth: '14px' }"
            ></l-popup>
          </l-marker> -->
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        </l-map>
        <div class="sticky">
          <geolocation-button class="geolocation-button" />
        </div>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LMarker,
  LPopup,
  LControlScale,
  LControlZoom,
  LIcon,
} from "vue2-leaflet";
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import "leaflet-geosearch/assets/css/leaflet.css";
import { EsriProvider } from "leaflet-geosearch";
import VGeosearch from "vue2-leaflet-geosearch";
import { mapGetters } from "vuex";
import GeolocationButton from "components/GeolocationButton";
import EventBus from "src/utils/event-bus";
import MockService from "../services/MockServices";
import Vue2LeafletMarkerCluster from "vue2-leaflet-markercluster";
import ModalProvider from "components/ModalProvider.vue";

const mockService = new MockService();

const iconDefault = {
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
};

delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions(iconDefault);

export default {
  name: "MapProvider",
  props: {
    mapContainerStyle: {
      type: Object,
      default: () => {
        return {
          "min-height": "calc(100vh - 99px)",
        };
      },
    },
  },
  components: {
    ModalProvider,
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    VGeosearch,
    LControlScale,
    LControlZoom,
    LIcon,
    GeolocationButton,
    "v-marker-cluster": Vue2LeafletMarkerCluster,
  },
  data() {
    return {
      modalProvider: this.providerList,
      bus: EventBus,
      icon: L.icon({
        iconUrl: "~assets/location-target.svg",
        iconSize: [50, 50],
      }),
      geosearchOptions: {
        // Important part Here
        style: "button",
        provider: new EsriProvider({
          params: {
            sourceCountry: ["CHL"],
          },
        }),
        retainZoomLevel: true,
        autoClose: true,
        searchLabel: "Calle número comuna pais",
        showPopup: true,
        keepResult: true,
        notFoundMessage: "Ubicación no encontrada",
        showMarker: false,
      },
      providerList: mockService.getProviders(),
      popup: "probando 123...",
      zoom: 13,
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
    };
  },
  computed: {
    ...mapGetters(["coords", "latitude", "longitude", "hasPosition"]),
    center() {
      if (!this.coords) {
        return {
          lat: mockService.getProviders()[0].location.commune.lat,
          lng: mockService.getProviders()[0].location.commune.lng,
        };
      } else {
        return this.coords && { lat: this.latitude, lng: this.longitude };
      }
    },
    centerMapper() {
      return this.center && { position: this.center };
    },
    iconCustom() {
      return iconCustom;
    },
  },
  methods: {
    showModal(provider) {
      EventBus.$emit("showModal");
      this.modalProvider = provider;
    },
    onLoad(index, done) {},
    getLatLng(lat, lng) {
      return L.latLng(lat, lng);
    },
    onResize(size) {
      if (this.$refs.map.mapObject) {
        this.$refs.map.mapObject._onResize();
      }
    },
    getIconCustomPOI(avatar) {
      let iconCustom = L.divIcon({
        className: "custom-div-icon",
        html:
          "<div class='marker-pin bg-primary'></div><img class='marker-pin-avatar' src='" + avatar + "'>",
        iconSize: [30, 42],
        iconAnchor: [15, 42],
      });
      return iconCustom;s
    },
  },
  mounted() {
    const vm = this;
    if (this.$refs.map) {
      this.$refs.map.mapObject.on("geosearch/showlocation", function (result) {
        console.log(
          "[showlocation] x:" + result.location.x + " y:" + result.location.y
        );
        vm.$store.dispatch("setGeosearchLocation", {
          location: result.location,
        });
      });

      this.$refs.map.mapObject.on("geosearch/marker/dragend", function (
        result
      ) {
        console.log(
          "[dragend] lat:" + result.location.lat + " lng:" + result.location.lng
        );
      });
    }
  },
  created() {
    //this.samplePosition();
  },
};
</script>
<style>
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

.leaflet-control-geosearch form input {
  height: 30px;
}
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 17px;
  left: 14px;
  width: 8px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}
.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 6px;
  left: 6px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #555;
}

.sticky {
  position: absolute;
  left: 10px;
  top: 4.4em;
  z-index: 2999;
}

.geolocation-button .q-btn__wrapper {
  padding: 5px 5px;
  min-height: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.marker-pin {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
  content: "";
  width: 44px;
  height: 44px;
  margin: 3px 0 0 3px;
  background: #9c27b0;
  position: absolute;
  border-radius: 50%;
}

.marker-pin-avatar {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  top: 11px;
  left: 5px;
}
</style>