<template>
  <div>
    <q-dialog :content-class="['dialog-provider']" v-model="fixed">
      <q-card class="full-width">
        <q-card-section>
          <q-btn
            round
            size="md"
            label="X"
            color="primary"
            style="position: absolute; right: 10px; top: 10px; z-index:1;"
            v-close-popup
          />
          <q-item class="q-pa-none">
            <q-item-section avatar>
              <q-avatar round size="65px">
                <q-img :src="avatar" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>
                <q-rating
                  v-model="rating"
                  max="5"
                  size="2em"
                  color="orange"
                  icon="star_border"
                  icon-selected="star"
                  icon-half="star_half"
                  no-dimming
                  readonly
                />
              </q-item-label>
              <q-item-label>{{name}}</q-item-label>
              <q-item-label caption>
                <q-icon key="xs" size="xs" name="call" />
                {{phone}}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>

        <q-card-section style="max-height: 64vh" class="scroll q-py-none">
          <q-item-label header class="q-pa-none q-pt-none">{{getCommuneRegion(location)}}</q-item-label>
          <div class="rounded-borders">
            <l-map
              style="flex:1; height: 70em; max-height: 30vh;"
              :zoom="zoom"
              :center="getLatLng(location)"
            >
              <l-marker :lat-lng="getLatLng(location)" @add="openPopup">
                <l-popup
                  :content="getPopup(location)"
                  :options="{ autoClose: true, closeOnClick: true, autoOpen: true }"
                ></l-popup>
              </l-marker>
              <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            </l-map>
          </div>

          <product-list
            v-bind="{products: products}"
            @on-click-product="onClickProduct"
            class="q-pt-md"
          />
          <div v-if="products.length === 0" class="row products-list-empty">
            <div class="col q-my-auto">
              <div class>
                ¿Deseas saber de mis productos?
                <br />Me puedes llamar
                <q-icon name="fas fa-phone q-mr-sm" />o escribir a través de Whatsapp
                <q-icon name="fab fa-whatsapp" />
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <div class="q-pr-md">Contacto:</div>
          <q-btn
            type="a"
            target="_self"
            :href="'tel:' + phone"
            padding="xs lg"
            color="primary"
            icon="fas fa-phone"
          />
          <q-btn
            type="a"
            target="_self"
            padding="xs lg"
            color="primary"
            icon="fab fa-whatsapp"
            :href="getLinkWhastapp(phone, 'Hola, te escribo por tu aviso en k-leta.')"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <swipeable-bottom-sheet ref="swipeableBottomSheet" style="z-index: 11111;">
      <add-to-cart v-bind="dataProduct" @on-add-to-cart="onAddtoCart" />
    </swipeable-bottom-sheet>
  </div>
</template>

<script>
import { LMap, LTileLayer, LMarker, LPopup } from "vue2-leaflet";
import L from "leaflet";
import "leaflet/dist/leaflet.css";

import SwipeableBottomSheet from "components/SwipeableBottomSheet.vue";
import AddToCart from "components/AddToCart.vue";
import GeolocationButton from "components/GeolocationButton";
import ProductList from "components/provider/ProductList";

delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

export default {
  name: "ModalProvider",

  props: {
    name: {
      type: String,
    },
    phone: {
      type: String,
    },
    avatar: {
      type: String,
    },
    rating: {
      type: Number,
    },
    location: {
      type: Object,
    },
    products: {
      type: Array,
      default: () => [],
    },

    bus: {},
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    SwipeableBottomSheet,
    AddToCart,
    GeolocationButton,
    ProductList,
  },
  data() {
    return {
      dataProduct: { product: {} },
      number: 0,
      ratingModel: 3,
      fixed: false,
      zoom: 13,
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    };
  },
  methods: {
    closeSwipeableBottomSheet() {
      this.$refs.swipeableBottomSheet.setState("close");
      this.$q.notify({
        progress: true,
        message: "El producto fue agregado correctamente",
        icon: "fas fa-cart-plus",
        color: "green",
        position: "top",
        multiLine: true,
        actions: [
          {
            label: "Ver carro de compra",
            color: "yellow",
            handler: () => {
              alert("no implementado");
            },
          },
        ],
      });
    },
    getLinkWhastapp(number, message) {
      var url =
        "https://api.whatsapp.com/send?phone=" +
        number +
        "&text=" +
        encodeURIComponent(message);

      return url;
    },
    getLatLng(location) {
      if (location) {
        return L.latLng(location.lat, location.lng);
      }
    },
    getPopup(location) {
      if (location) {
        return location.popup;
      }
    },
    openPopup: function (event) {
      this.$nextTick(() => {
        event.target.openPopup();
      });
    },
    showModal() {
      this.fixed = true;
    },
    getCommuneRegion(location) {
      let communeRegion = "";
      if (location && location.commune) {
        communeRegion = location.commune.name; //+ " - " + location.commune.region.name;
      }
      return communeRegion;
    },
    onAddtoCart: function (amount) {
      console.log("amount:" + amount);
      this.closeSwipeableBottomSheet();
    },
    onClickProduct: function (product) {
      this.dataProduct = { product: product };
      this.$refs.swipeableBottomSheet.setState("open");
    },
  },
  computed: {},
  mounted() {
    this.bus.$on("showModal", this.showModal);
  },
};
</script>
<style>
.dialog-provider .q-dialog__inner--minimized {
  padding: 8px;
}
.dialog-provider .q-dialog__inner--minimized > div {
  max-height: calc(100vh - 0px);
}
.products-list-empty {
  width: 100%;
  text-align: center;
  height: 145px;
}
</style>